<h2>About <%= @user.username %></h2>
<span class='user_about'><p>Pu got her start at age 4 when she painting all the walls in her bedroom with hand paint. Pu got her start at age 4 when she painting all the walls in her bedroom with hand paint. Pu got her start at age 4 when she painting all the walls in her bedroom with hand paint</p></span>

<div class='row'>
  <ul>
    <% @user.images.each do |image| %>
      <div class='col-sm-4'>
          <li><%= image_tag(image.image) %></li>
          <li><%= image.description %></li>

        <% if current_user == @user %>
          <li><%= link_to 'Edit', edit_user_image_path(@user, image) %></li>
          <li><%= link_to "Delete", user_image_path(@user, image), :method => 'delete' %></li>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>

<hr>

    <% if current_user == @user %>
    <%= link_to "Add an image", new_user_image_path(@user) %>
    <% end %>
