<h2>Artist <%= @user.username.titleize %></h2>
<!-- <span class='user_about'><p>Pu got her start at age 4 when she painting all the walls in her bedroom with hand paint. Pu got her start at age 4 when she painting all the walls in her bedroom with hand paint. Pu got her start at age 4 when she painting all the walls in her bedroom with hand paint</p></span> -->

<span class='user_about'><p><%= @user.about %></p></span>






<div class='row'>
  <ul>
    <% @user.images.each do |image| %>
    <div id='image_<%= image.id %>'>
      <div class='col-sm-4'>
        <li><%= image_tag(image.image) %></li>
        <li><%= image.description %></li>
          <ul>
            <% image.reviews.each do |review| %>
              <li>Critique Notes by <%= review.author.titleize %>: <%= review.review %> </li>
              <li><i>Posted on: <%= review.created_at.strftime("%B %d, %Y")  %></i></li>
              <br>
            <% end %>
          </ul>

        <% if current_user == @user %>
          <li><%= link_to 'Add Review', new_image_review_path(image), remote: true, id: 'new-review-link' %></li>
          <li><%= link_to "<span id='edit_image_test' class='glyphicon glyphicon-pencil'></span>".html_safe, edit_user_image_path(@user, image) %></li>
          <li><%= link_to "<span id='delete_image_test' class='glyphicon glyphicon-trash'></span>".html_safe, user_image_path(@user, image), :method => 'delete' %></li>
        <% end %>
      </div>
    </div>
    <% end %>
  </ul>
</div>

<hr>

    <% if current_user == @user %>
    <%= link_to "Add Image", new_user_image_path(@user), remote: true, id: 'new-image-link' %>
    <% end %>
