<h2><%= @image.description %></h2>
<h5>Created on: <%= @image.created_at.strftime("%B %d, %Y") %></h5>



    <center><%= image_tag(@image.image) %></center>
    <ul>
      <% @image.reviews.each do |review| %>
        <li>Critique Notes by <%= review.author.titleize %>: <%= review.review %> </li>
        <li><i>Posted on: <%= review.created_at.strftime("%B %d, %Y")  %></i></li>
        <br>
      <% end %>
    </ul>

    <hr>

    <% if current_user == @user %>
      <li><%= link_to 'Add Review', new_image_review_path(@image), remote: true, id: 'new-review-link' %></li>
    <% end %>
